/* -------------------------- *\
	Globel
\* -------------------------- */
* {
	box-sizing: border-box;
	position: relative;
}
html,body{
	margin: 0;
    padding: 0;
    font-family: "Yomogi","Klee One", cursive;
}
a{
    text-decoration: none;
}

h1{
    font-size: 40px;
    color: #2A4D14;
    text-align: center;
}

p{
    font-size: 20px;
    letter-spacing: 4px;
    line-height: 30px;
}
@media screen and (max-width:1024px){
    h1{
        font-size: 32px;
    }
    p{
        font-size: 14px;
        line-height: 24px;
    }
}
@media screen and (max-width:720px){
    h1{
        font-size: 20px;
    }
    p{
        font-size: 14px;
        margin: 4px;
    }
}
/* -------------------------- *\
	Layout
\* -------------------------- */
.container{
    max-width: 1040px;
    margin: 0 auto;
}
@media screen and (max-width:1024px){
    .container{
        padding: 0 40px;
    }
}
@media screen and (max-width:1024px){
    .container{
        padding: 0 24px;
    }
}
.row{
    display: flex;
}

/* -------------------------- *\
	Component
\* -------------------------- */
.side_nav{
    position: fixed;
    right:20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
    opacity: 0;
    transition: all 1s;
}
.side_nav .nav{
    margin: 12px 0;
    background-color:transparent;
    border: #2A4D14 solid 2px;
}
.side_nav .nav:hover{
    transform: scale(1.2);
}
.side_nav.show{
    opacity: 1;
}

.humberlist{
    position: fixed;
    top: 12px;
    right: 12px;
    height: 40px;
    width: 40px;
    background-color: #2A4D14;
    border-radius: 50%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px;
    z-index: 48;
}

.humberlist .line{
    width: 100%;
    height: 3px;
    background-color: #C9BA7C;
    border-radius: 4px;
}
@media screen and (max-width:720px){
    .side_nav{
        right: 8px;
        top: 50px;
        transform: translateY(0);
    }
    .side_nav .nav{
        background-color: #DFDABA;
        text-align: center;
    }
    .side_nav .nav:hover{
        transform: scale(1);
    }
    .side_nav.show{
        opacity: 0;
    }
    .humberlist{
        display: flex;
    }
    .side_nav.humber_show{
        opacity: 1 !important;
    }

}
.row{
    display: flex;
}
/* PageChange */
.page_change{
    width: 100%;
}
.page_change img{
    margin-bottom: -8px;
}
.change_title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}
.circle{
    padding: 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #2A4D14;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DFDABA;
}
.triangle{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid #2A4D14;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
@media screen and (max-width:1024px){
    .circle{
        width: 88px;
        height: 88px;
    }
    .triangle{
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 32px solid #2A4D14;
    }
}
/* -------------------------- */
/* -------------------------- *\
	jumboturn
\* -------------------------- */
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.list{
    position: absolute;
    right: 40px;
    top: 20px;
}

.nav{
    display:flex;
    margin:0 12px;
    align-items: center;
    cursor: pointer;
    background-color: #DFDABA;
    padding: 8px;
    border-radius: 20px;
    letter-spacing: 4px;
    font-size: 20px;
    font-weight: 600;
    color: #2A4D14;
}
.nav img{
    margin-right: 4px;
}
@media screen and (max-width:1024px) {
    .list{
        top: 12px;
        right: 0;
        margin:0 4px;
    }
    .nav{
        font-size: 12px;
        padding: 4px;
    }
    .nav img{
        width: 12px;
    }
}
@media screen and (max-width:720px) {
    .list{
        display: none;
    }
}
/* -------------------------- *\
	about
\* -------------------------- */
.about{
    background-color: #DFDABA;
    margin-top: -8px;
    padding: 160px 0;
}

.about .container .intro{
    text-align: center;
}

.about .container .intro>.title_img{
    width: 520px;
}

@media screen and (max-width:1024px) {
    .about{
        padding-top: 80px;
    }
    .about .container .intro>.title_img{
        width: 400px;
    }
    .about .container .intro .content{
        min-width: 680px;
    }
}
@media screen and (max-width:720px) {
    .about{
        padding: 80px 0;
    }
    .about .container .intro>.title_img{
        width: 240px;
    }
    .about .container .intro .content{
        min-width: auto;
    }
    .about .container .intro .content{
        padding: 0 20px;
        text-align: left;
    }
}

/* latte */
.latte{
    margin: 120px 0;
    align-items: flex-end;
}
.latte .col{
    width: 60%;
}

.latte .col>.title_img{
    display: flex;
    align-items: center;
}

.latte .col>.paragraph{
    padding-left:60px ;
}

.latte .col-img{
    width: 40%;
    border-radius: 12px;
    overflow: hidden;
    margin-left: 60px;
}
@media screen and (max-width:1024px) {
    .latte{
        align-items: center;
    }
    .latte .col>.paragraph{
        padding-left:40px ;
    }
}
@media screen and (max-width:720px){
    .latte .col>.title_img{
        padding: 20px ;
    }
    .latte{
        margin: 40px 0;
        flex-wrap: wrap;
        justify-content: center;
    }
    .latte .col{
        width: 100%;
    }
    .latte .col>.paragraph{
        padding-left:0;
    }
    .latte .col-img{
        width: 80%;
        margin-left: 0;
        margin-top: 20px;
        max-width: 400px;
    }
}
/* ------ */
.about .intro_img{
    text-align: center;
}
.about .intro_img img{
    width: 85%;
}

.truck{
    margin-top: 120px;
}
.truck>img{
    width: 480px;
    position: absolute;
    top: 0;
    right: 0;
}
.truck>div{
    width: 600px;
}
@media screen and (max-width:1024px) {
    .truck{
        padding-top: 40px;
    }
    .truck>img{
        width: 50%;
        min-width: 320px;
        opacity: 0.6;
    }
    .truck>div{
        width: 70%;
        min-width: 400px;
    }
}

@media screen and (max-width:720px){
    .truck{
        padding-top: 0;
    }
    .truck>img{
        min-width: 90%;
    }
    .truck>div{
        width: 90%;
        min-width: 240px;
    }
    .about .intro_img img{
        width: 100%;
    }
}

/* -------------------------- *\
	brand
\* -------------------------- */
.brand{
    background-color: #C9BA7C;
    padding-bottom: 200px;
}
.brand>.page_change{
    background-color: #DFDABA;
}

.logo_intro{
    align-items: center;
}
.logo_intro .logo_img{
    width: 30%;
    margin-right: 12px;
}
.logo_intro .logo_content{
    width: 70%;
}
.logo_intro .logo_content p{
    padding-left: 40px;
}
.logo_intro .logo_content img{
    width: 400px;
}
@media screen and (max-width:1024px){
    .logo_intro{
        margin-top: 20px;
    }
    .logo_intro .logo_content p{
        padding-left: 20px;
    }
    .logo_intro .logo_content img{
        width: 200px;
    }
}
@media screen and (max-width:720px){
    .brand{
        padding-bottom: 120px;
    }
    .logo_intro{
        flex-direction: column;
        justify-content: center;
    }
    .logo_intro .logo_img{
        width: 80%;
        max-width:240px;
    }
    .logo_intro .logo_content{
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }
    .logo_intro .logo_content p{
        padding-left: 0;
        text-align: left;
        margin-top: 12px;
    }
}

.motivation{
    margin: 120px 0;
    text-align: center;
}
.motivation img{
    width: 400px;
}

.video div{
    width: 800px;
    height: 450px;
    margin: 0 auto;
}
@media screen and (max-width:1024px) {
    .motivation{
        margin: 40px 0;
    }
    .motivation img{
        width: 320px;
    }
    .video div{
        width: 640px;
        height: 360px;
    }
}
@media screen and (max-width:720px) {
    .motivation img{
        width: 240px;
    }
    .motivation p{
        text-align: left;
    }
    .video div{
        width: 480px;
        height: 270px;
    }
}
@media screen and (max-width:540px) {
    .video div{
        width: 320px;
        height: 180px;
    }
}
@media screen and (max-width:400px) {
    .video div{
        width: 288px;
        height: 162px;
    }
}
/* -------------------------- *\
	menu
\* -------------------------- */
.menu>.page_change{
    background-color: #C9BA7C;
}

.menu{
    padding-bottom: 120px;
}
.menu>.container{
    padding: 40px 0;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product{
    width: 400px;
    margin: 20px;
}

.product_img{
    position: absolute;
    top: 48px;
    left: 50%;
    transform: translateX(-50%);
}
.product_img img{
    width: 88px;
}
.category{
    position: absolute;
    top: 40px;
    right: 60px;
    font-size: 24px;
    color: #fff;
}
.product_content{
    position: absolute;
    bottom: 60px;
    left: 48px;
}
.product_content .title{
    margin: 0;
    color: #2A4D14;
    background-color: #DFDABA;
    display: inline-block;
    border-radius: 12px;
    padding: 4px 8px;
}
.product_content .ingredient{
    margin: 0;
    font-size: 16px;
    color: #fff;
}

@media screen and (max-width:720px) {
    .product{
        width: 300px;
    }
    .product_img img{
        width: 60px;
    }
    .category{
        font-size: 18px;
        top: 28px;
        right: 36px;
    }
    .product_content{
        bottom: 36px;
        left: 36px;
    }
    .product_content .title{
        padding:4px;
    }
    .product_content .ingredient{
        font-size: 12px;
    }
}

.product_darkbrown .product_content .title{
    background-color:#2A4D14;
    color:#DFDABA;
}
.product_darkgreen .product_content .title{
    background-color:#C9BA7C;
    color:#fff;
}
.product_brown .product_content .title{
    background-color:#9DBC98;
    color:#2A4D14;
}
.product_brown .product_content .ingredient{
    color: #2A4D14;
}

/* -------------------------- *\
	Contact
\* -------------------------- */
.contact .page_change{
    background-color: #fff;
}
.contact{
    background-color: #9DBC98;
    color: #fff;
    padding-bottom: 120px;
}
.contact .container .row{
    justify-content: center;
    align-items: center;
}
.group{
    margin-bottom: 60px;
}
.group .media {
    margin-left: 20px;
    padding-left: 20px;
}
.group .media a{
    margin: 12px;
}
.group .media a img{
    width: 100px;
}
@media screen and (max-width:1024px){
    .contact{
        padding-bottom: 40px;
    }
    .group{
        flex-wrap: wrap;
    }
    .group div h2{
        font-size: 20px;
    }
    .group .media {
        padding-left: 0;
        margin-top: 12px;
    }
    .group .media a img{
        width: 80px;
    }
}
@media screen and (max-width:720px){
    .group{
        padding-top: 20px;
    }
    .group h2{
        text-align: center;
    }
}
.pdf_img img{
    width: 200px;
}
.pdf{
    text-align: center;
    margin: 40px 0;
}
.pdf_btn{
    padding: 4px 8px;
    background-color: #2A4D14;
    border-radius: 12px;
    font-size: 20px;
    color: #C9BA7C;
}
.pdf_btn:hover{
    background-color: #C9BA7C;
    color: #2A4D14;
}
@media screen and (max-width:1024px){
    .pdf_img img{
        width: 160px;
    }
}
@media screen and (max-width:720px){
    .more{
        flex-direction: column;
    }
    .pdf_img img{
        width: 120px;
    }
    .pdf{
        margin: 20px 0;
    }
}
/* -------------------------- *\
	Footer
\* -------------------------- */
footer{
    background-color: #2A4D14;
    padding: 20px 160px;
    color: #C9BA7C;
}
footer .row{
    justify-content: space-between;
    align-items: center;
}
footer .row .col-img{
    width: 25%;
}
footer .row .col p{
    line-height: 24px;
}

@media screen and (max-width:1024px) {
    footer{
        padding: 20px 40px;
    }
    footer .row{
        justify-content: space-around;
    }
    footer .row .col:last-child{
        display: none;
    }
}
@media screen and (max-width:720px) {
    footer{
        padding: 20px 8px;
    }
    footer .row .col-img{
        width: 70%;
        max-width: 240px;
    }
    footer .row{
        flex-wrap: wrap;
    }
}