/* -------------------------- *\
	Globel
\* -------------------------- */
* {
	box-sizing: border-box;
	position: relative;
}
html,body{
	margin: 0;
    padding: 0;
    font-family: "Yomogi","Klee One", cursive;
}
a{
    text-decoration: none;
}

p{
    font-size: 20px;
    letter-spacing: 4px;
    line-height: 30px;
}
@media screen and (max-width:1024px){
    p{
        font-size: 14px;
        line-height: 24px;
    }
}
/* -------------------------- *\
	Layout
\* -------------------------- */
.container{
    max-width: 1040px;
    margin: 0 auto;
}
@media screen and (max-width:1024px){
    .container{
        padding: 0 40px;
    }
}
.row{
    display: flex;
}

/* -------------------------- *\
	Component
\* -------------------------- */
.side_nav{
    position: fixed;
    right:20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
    opacity: 0;
    transition: all 1s;
}
.side_nav .item{
    margin: 12px 0;
    background-color:transparent;
    border: #2A4D14 solid 2px;
}
.side_nav .item:hover{
    transform: scale(1.2);
}
.side_nav.show{
    opacity: 1;
}

/* PageChange */
.page_change{
    width: 100%;
    margin-top: 200px;
}
.change_title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}
.circle{
    padding: 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #2A4D14;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DFDABA;
}
.triangle{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid #2A4D14;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

/* -------------------------- */
/* -------------------------- *\
	jumboturn
\* -------------------------- */
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.list{
    position: absolute;
    right: 40px;
    top: 20px;
}

.nav{
    display:flex;
    margin:0 12px;
    align-items: center;
    cursor: pointer;
    background-color: #DFDABA;
    padding: 8px;
    border-radius: 20px;
    letter-spacing: 4px;
    font-size: 20px;
    font-weight: 600;
    color: #2A4D14;
}
.nav img{
    margin-right: 4px;
}
@media screen and (max-width:1024px) {
    .list{
        top: 12px;
        right: 0;
        margin:0 4px;
    }
    .nav{
        font-size: 12px;
        padding: 4px;
    }
    .nav img{
        width: 12px;
    }
}
/* -------------------------- *\
	about
\* -------------------------- */
.about{
    background-color: #DFDABA;
    margin-top: -8px;
    padding: 120px 0;
}

.about .container .intro{
    text-align: center;
}

.about .container .intro>.title_img{
    width: 520px;
}

@media screen and (max-width:1024px) {
    .about{
        padding: 80px 0;
    }
    .about .container .intro>.title_img{
        width: 400px;
    }
}
@media screen and (max-width:720px) {
    .about .container .intro>.title_img{
        width: 300px;
    }
}

/* latte */
.latte{
    margin: 120px 0;
    align-items: end;
}
.latte .col{
    width: 60%;
}

.latte .col>.title_img{
    display: flex;
    align-items: center;
}

.latte .col>.paragraph{
    padding-left:60px ;
}

.latte .col-img{
    width: 40%;
    border-radius: 12px;
    overflow: hidden;
    margin-left: 60px;
}

/* ------ */
.about .intro_img{
    text-align: center;
}
.about .intro_img img{
    width: 85%;
}

.truck{
    margin-top: 120px;
}
.truck>img{
    width: 480px;
    position: absolute;
    top: 0;
    right: 0;
}
.truck>div{
    width: 600px;
}